<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=7" />
    <meta http-equiv="refresh" content="0; url=<%- url %> ">
    <link href="https://aosc.io/css/main.min.css" rel="stylesheet">
    <title>Downl. | AOSC Releases</title>
    <link rel="icon" href="https://aosc.io/assets/img/aosc.png">
    <link rel="icon" sizes="any" type="image/svg+xml" href="https://aosc.io/img/aosc.min.svg" />
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600&display=swap" rel="stylesheet"> 
    <style>body{font-family:'Noto Serif SC',serif;}</style><div class="wrapper">
        
        <nav class="header">
            <div class="columns" style="align-items: start;">
                <div class="columns" style="display: flex;">
                    <a class="clear-link" href="https://aosc.io/">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <img alt="AOSC Logo" class="logo"
                                            width="40" height="40" src="https://aosc.io/img/aosc.png"
                                            style="height: 40px; width: 40px;">
                                    </td>
                                    <td style="vertical-align: bottom;"><h1 class="page-title">/Downl.</h1></td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
                <ul class="column is-two-thirds" style="word-break: keep-all;">
                    <li><a href="https://aosc.io/news">News</a>
                    </li><li><a href="https://aosc.io/people">People</a>
                    </li><li><a href="https://packages.aosc.io">Packages</a>
                    </li><li><a href="https://wiki.aosc.io">Wiki</a>
                    </li><li><a href="https://aosc.io/about">About</a>
                    </li><li><a href="https://aosc.io/downloads">Downloads</a>
                    </li><li><a href="https://aosc.io/repo">Mirrors</a>
                    </li><li><a href="https://github.com/AOSC-Dev/">Git</a>
                    </li><li><a href="https://aosc.io/mail">Mail</a>
                    </li><li><a href="https://paste.aosc.io/">Pastebin</a>
                    </li></ul>
            </div>
        </nav>
        <hr class="hr-nav">

<div class="blog">
    <h1 id="downloads" class="title no-top-margin">Coming Right Up ...</h1>
    <p>
        We are now preparing your requested download. Your download
        information is listed as follows, if your download does not start
        automatically, please refer to the direct link as shown below.
    </p>

    <h2>Download Information</h2>
    <p>
        You are downloading AOSC OS, <%- variant %>, for <%- arch %> devices. Your download
        link and SHA256 checksum are as follows.
    </p>
    <p>
        File location:
    </p>
    <pre><a href="<%= url %>"><%- url %></a></pre>
    <p>
        SHA256 Checksum:
    </p>
    <pre><%- sha256 %></pre>
</div>
        <hr>
        <div class="center footer">
            <span>Copyleft 2011 — 2021, Members of the Community &nbsp;</span></div>
    </div>
</body>
</html>
